<table class="table table-active" style="width: 65%;">
    <tr>
        <th>
            Id
        </th>
        <th>
            DoctorId
        </th>
        <th>
            StartTime
        </th>
        <th>
            EndTime
        </th>
        <th>
            MedicalSepciality
        </th>
    </tr>
    <tr *ngFor="let appoint of appointmentService.AppiontList">
        <td>{{appoint._id}}</td>
        <td>{{appoint.doctorId}}</td>
        <td>{{appoint.startTime}}</td>
        <td>{{appoint.endTime}}</td>
        <td>{{appoint.medicalSpecialty}}</td>
        <td><app-appointment-update [appointment]="appoint"></app-appointment-update></td>
        <td><app-appointment-delete [appointment]="appoint"></app-appointment-delete></td>
    </tr>
</table>

<button style="margin-left: 170px;" class="btn btn-success " (click)="show()">Refresh</button>