<br>
<label style="width: 100px;">Id </label>
<input type="text" oninvalid="this.setCustomValidity('Please write the new user')" [(ngModel)]="usersSer.nUser._id" [(ngModel)]="employeeService.nEmployee._id" required><br><br>
<label style="width: 100px;">First Name </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.firstName"  required><br><br>
<label style="width: 100px;">Last Name </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.lastName" required><br><br>
<label style="width: 100px;">Email </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.email"  required><br><br>
<label style="width: 100px;">Phone </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.phone" required=""><br><br>
<label style="width: 100px;">Username </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.userName" [(ngModel)]="usersSer.nUser.username" required><br><br>
<label style="width: 100px;">Password </label>
<input type="text" [(ngModel)]="employeeService.nEmployee.password" [(ngModel)]="usersSer.nUser.password" required=""><br><br>
<label style="width: 100px;">Type </label>
<input type="radio" name="type"  value="Nurse" [(ngModel)]="employeeService.nEmployee.type" [(ngModel)]="usersSer.nUser.type" >
<label>Nurse</label>
<input type="radio" name="type" value="Reciptionist" [(ngModel)]="employeeService.nEmployee.type" [(ngModel)]="usersSer.nUser.type" >
<label>Reciptionist</label>
<input type="radio" name="type" value="Office Boy" [(ngModel)]="employeeService.nEmployee.type" [(ngModel)]="usersSer.nUser.type" >
<label>Office Boy </label>
<!-- <input type="text" [(ngModel)]="employeeService.nEmployee.type" [(ngModel)]="usersSer.nUser.type" required=""><br><br> -->
<button style="margin-left: 150px;" class="btn btn-success" (click)="save()">Add</button>


