<table class="table">
    <tr>
        <th>
            <label>Id</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortIdAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortIdDesc()"></i>
        </th>
        <th>
            <label class="fw-bold">Doctor Name</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortDocNameAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortDocNameDesc()"></i>
        </th>
        <th>
            <label>SSN</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortSSNAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortSSNDesc()"></i>
        </th>
        <th>
            <label>Phone</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortPhoneAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortPhoneDesc()"></i>
        </th>
        <th>
            <label>Address</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortAddressAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortAddressDesc()"></i>
        </th>
        <th>
            <label>Medical Sepciality</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortSpecialityAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortSpecialityDesc()"></i>
        </th>
        <th>
            <label>Username</label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortUsernameAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortUsernameDesc()"></i>
        </th>
        <th>
            <label>Password </label>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortPasswordAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortPasswordDesc()"></i>
        </th>
        <th>
            <input type="text" class="w w-75 h-25" [(ngModel)]="searchValue" placeholder="Filter by doctorName">
        </th>
    </tr>
    <tr *ngFor="let doc of (doctorService.DocList|filterbyDocname:searchValue|sortDoctor:direction:column:type)">
        <td>{{doc._id}}</td>
        <td>{{doc.doctorName}}</td>
        <td>{{doc.SSN}}</td>
        <td>{{doc.phone}}</td>
        <td>{{doc.address}}</td>
        <td>{{doc.medicalSpecialty}}</td>
        <td>{{doc.username}}</td>
        <td>{{doc.password}}</td>
        <td><app-doctor-update [doctor]="doc"></app-doctor-update></td>
        <td><app-doctor-delete [doctor]="doc"></app-doctor-delete></td>
    </tr>
</table>

<button style="margin-left: 170px;" class="btn btn-success " (click)="show()">Refresh</button>