<!-- <div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">

                    </div>
                    <form (click)="employeeForm()" >
                        
                    </form>
                    <div class="col s7">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<br>
<label style="width: 100px;">Id </label>
<input type="text" [(ngModel)]="appointmentService.nAppointment._id"><br><br>
<label style="width: 100px;">DoctorId </label>
<input type="text" [(ngModel)]="appointmentService.nAppointment.doctorId"><br><br>
<label style="width: 100px;">StartTime </label>
<input type="text" [(ngModel)]="appointmentService.nAppointment.startTime"><br><br>
<label style="width: 100px;">EndTime </label>
<input type="text" [(ngModel)]="appointmentService.nAppointment.endTime"><br><br>
<label style="width: 100px;">Specialty </label>
<input type="text" [(ngModel)]="appointmentService.nAppointment.medicalSpecialty"><br><br>
<button style="margin-left: 150px;" class="btn btn-success" (click)="save()">Add</button>


