<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto fw-bold">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/doctor']">Doctor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/patient']">Patient</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employee']">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/employeeList']">EmployeeList</a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- <nav >
    <a class="btn btn-success" href="/home">Home</a>
    <a class="btn btn-success" href="/employee">Employee</a>
    </nav> -->