<div class="row border border-primary mr-md-3 " style="margin: 10px;padding: 10px;">
    <div class="col-3">
        <p class="text-success fw-bold">Add New Appointment</p>
        <app-appointment-create></app-appointment-create>
    </div>

    <div class="col-9">
        <p class="text-success fw-bold">Available Appointments</p>
        <app-appointment-read></app-appointment-read>
    </div>

    <br>

</div>
<div class="row border border-primary mr-md-3 " style="margin: 10px;padding: 10px;">

    <div class="col-3">
        <p class="text-success fw-bold">Add New Invoice</p>
        <app-invoice-create></app-invoice-create>
    </div>
    <div class="col-9">
        <p class="text-success fw-bold">Invoice Mangement</p>
        <app-invoice-read></app-invoice-read>
    </div>
</div>
<div class="row border border-primary mr-md-3 " style="margin: 10px;padding: 10px;">

    <div class="col-3">
        <p class="text-success fw-bold">Add New Prescription</p>
        <app-prescription-create></app-prescription-create>
    </div>
    <div class="col-9">
        <p class="text-success fw-bold">Prescription Mangement</p>
        <app-prescription-read></app-prescription-read>
    </div>
</div>